  <div class="container">
    <div class="row mt-3">
      <div class="col-sm-12 col-md-6">
        <% if !@art_piece.photos.empty? %>
          <div class = "art-images m-1 d-flex flex-column align-items-center">
            <%= cl_image_tag(@art_piece.photos.first.key, folder: "artly") %>
        <% else %>
          <div class="text-center m-3">
            No photos
        <% end %>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="art-info m-1">
          <h1 class="border-bottom border-primary text-dark p-1 m-0 text-end">
            <%= @art_piece.name.upcase%>
          </h1>
          <p class="art-genre text-end text-success mt-0 mb-3 p-0"><em><%= @art_piece.genre %></em></p>
          <p class="art-description p-1 text-secondary">
            <%= @art_piece.description %>
          </p>
          <div class="art-map pb-1" style = "background-image: url('<%=@map_image_url%>');">
          </div>
          <% if current_user != @art_piece.user %>
            <%= render "shared/booking_form", booking: @booking %>
          <% else %>
            <div class="text-end">
              <%= link_to "Edit", edit_art_piece_path(@art_piece), class: "btn btn-warning mt-3 text-white" %>
              <%= link_to "Delete", art_piece_path(@art_piece), data: { turbo_method: :delete }, class: "btn btn-outline-warning mt-3 #{'disabled' if !@art_piece.live_bookings.empty?}" %>
              <% if !@art_piece.live_bookings.empty? %>
                <div class="h3 border-bottom border-primary p-1 mt-3 mb-0 text-start">
                  OUTSTANDING BOOKINGS
                </div>
                <div class="art-notice text-secondary text-end mt-0 mb-3 border-top"><em>art cannot be deleted as there are outstanding bookings</em></div>
                <% @art_piece.live_bookings.each do |booking| %>
                  <div class="card text-start mb-3 art-shadow">
                    <div class="card-body">
                      <h5 class="mb-2 border-bottom border-secondary"><strong>Booked by: </strong><%= booking.user.email %></h5>
                      <p class="m-0"><strong>Start Date: </strong><%=booking.start_date.strftime('%d %B %Y')%></p>
                      <p class="m-0"><strong>End Date: </strong><%=booking.end_date.strftime('%d %B %Y')%></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
