  <div class="container pt-3">
  <%= link_to art_pieces_path, class: "text-secondary mt-3" do %>
    <i class="fas fa-arrow-left"></i> Back to Gallery
  <% end %>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <% if !@art_piece.photos.empty? %>
          <div class = "art-images m-1 d-flex flex-column align-items-center">
            <%= cl_image_tag(@art_piece.photos.first.key, folder: "artly") %>
        <% else %>
          <div class="text-center m-3">
            No photos
        <% end %>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="art-info m-1">
          <h1 class="border-bottom border-primary text-dark p-1 m-0 text-end">
            <%= @art_piece.name.upcase%>
          </h1>
          <p class="art-genre text-end text-success mt-0 mb-3 p-0"><em><%= @art_piece.genre %></em></p>
          <p class="art-description p-1 text-secondary">
            <%= @art_piece.description %>
          </p>
          <div class="art-map pb-1" style = "background-image: url('<%=@map_image_url%>');">
          </div>
          <% if current_user != @art_piece.user %>
            <%= render "shared/booking_form", booking: @booking %>
          <% else %>
            <div class="text-end">
              <%= link_to "Edit", edit_art_piece_path(@art_piece), class: "btn btn-warning mt-3 text-white" %>
              <%= link_to "Delete", art_piece_path(@art_piece), data: { turbo_method: :delete }, class: "btn btn-outline-warning mt-3 #{'disabled' if !@art_piece.live_bookings.empty?}" %>
              <% if !@art_piece.live_bookings.empty? %>
                <%= render "shared/upcoming_bookings", art_piece: @art_piece %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
