<div class="container shadow p-3 bg-white text-primary mt-3">
  <%= simple_form_for(booking, url: user_bookings_path(current_user), method: :post) do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <div class="text-end">
      <%= f.submit class: "btn btn-warning" %>
    </div>
    <%= f.association :art_piece, as: :hidden %>
  <% end %>
</div>
