<div class="container shadow p-3 bg-white text-primary mt-3">
  <%= simple_form_for(booking, url: art_piece_bookings_path(@art_piece), method: :post) do |f| %>
    <%= f.input :start_date, as: :date, html5: true, input_html: { min: Date.today + 1 } %>
    <%= f.input :end_date, as: :date, html5: true, input_html: { min: Date.today + 1 } %>
    <div class="text-end">
      <%= f.submit class: "btn btn-warning text-white" %>
    </div>
    <%= f.association :art_piece, as: :hidden %>
  <% end %>
</div>
