<div class = "d-flex flex-column align-items-center ms-2">
      <%= form_tag art_pieces_path, method: :get do %>
          <%= submit_tag "Show me available art", class: "btn btn-warning text-white mt-3 w-100" %>
          <div class="mt-3">
            Start date
            <%= date_field_tag :start_date, params[:start_date], class: "form-control" %>
          </div>
          <div class="mt-3">
            End date
            <%= date_field_tag :end_date, params[:end_date], class: "form-control" %>
          </div>
          <div class="mt-3">
            Genres
            <%= select_tag "genres", options_for_select(ArtPiece::GENRES), multiple: true, class: "form-select" %>
          </div>
      <% end %>
      <%= link_to art_pieces_path, class: "mt-3 text-sm text-decoration-none text-secondary" do %>
        clear filters
      <% end %>
    </div>
