<div class="navbar navbar-artly navbar-light justify-content-between position-relative">
  <div class="container-fluid">
    <%= link_to art_pieces_path, class: "navbar-brand" do %>
      <%= image_tag "logo-for-navbar.png" %>
    <% end %>

    <% if user_signed_in? %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-style me-auto position-absolute dropdown-format">
          <li class="nav-item nav-style">
            <%= link_to art_pieces_path, class: "nav-link" do %>
              <i class="fas fa-palette"></i><span class="ms-3">Gallery</span>
            <% end %>
          </li>
          <li class="nav-item nav-style">
            <%= link_to new_art_piece_path, class: "nav-link" do %>
              <i class="fas fa-plus"></i><span class="ms-3">Art for Rent</span>
            <% end %>
          </li>
          <li class="nav-item nav-style">
            <%= link_to user_path(current_user), class: "nav-link" do %>
              <i class="far fa-user"></i><span class="ms-3">My Bookings & Art</span>
            <% end %>
          </li>
          <li class="nav-item nav-style">
            <%= link_to destroy_user_session_path, class: "nav-link" do %>
              <i class="fas fa-sign-out"></i><span class="ms-3">Log out</span>
            <% end %>
          </li>
        </ul>
      </div>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link me-3" %>
    <% end %>
  </div>
</div>
