<div class="navbar navbar-artly navbar-light justify-content-between"
data-controller="navbar2"
data-action="scroll@window->navbar2#updateNavbar2">
</div>

    <%= link_to art_pieces_path, class: "navbar-brand" do %>
      <%= image_tag "logo-for-navbar.png" %>
    <% end %>
    <div class="menu d-flex text-secondary px-3">
      <% if user_signed_in? %>
        <%# changed to boostrap version %>

        <%= link_to(new_user_art_piece_path(current_user), class: "text-decoration-none mx-2 menu-item") do %>
          <i class="fas fa-plus"></i> Art For Rent
        <% end %>
        <%= link_to(new_user_booking_path(current_user), class: "text-decoration-none mx-2 menu-item") do %>
          <i class="fas fa-plus"></i> Art Booking
        <% end %>
        <%= link_to(destroy_user_session_path, class: "text-decoration-none mx-2 menu-item") do %>
          <i class="fas fa-sign-out"></i>
        <% end %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "nav-link text-secondary text-decoration-none menu-item" %>
      <% end %>

    </div>

</div>
