
 <%= simple_form_for(rating) do |f| %>
    <%= f.input :title, label: "title"  %>
    <%= f.input :description, class: "text-primary" %>
    <%= f.input :review, label: "Leave a review here"  %>
    <%= f.input :description, class: "text-primary" %>
    <%= f.input :rating, label: "Choose rating 1 to 5"  %>
    <%= f.input :amount, as: :numeric %>
    <div class="text-end">
     <%= f.submit class: "btn btn-warning text-white" %>
    </div>
 <% end %>
