
<div class ="banner pt-3 text-center" style= "background-image: url('<%= image_path 'homepagephoto.jpg' %>'); background-size: cover;">

  <div class="banner-text">
    <h1 class = "text-black">Artify your home</h2>

<div class ="container">
   <div id="typed-strings">
    <h2>Discover our exclusive selection of art.</h2>
    <h2>Life in colours is better</h2>
  </div>
  </div>
<span id="typed"></span>
<div>

   <script>
    var typed = new Typed('#typed', {
     stringsElement: '#typed-strings',
     typeSpeed: 50,
     backSpeed: 20,
     loop: true,
     });
  </script>
    <%= link_to "Discover", art_pieces_path, class: "btn btn-primary" %>
  </div>
</div>
</div>

 <div class="container mt-3 text-center">
   <%# <div class= "col-12 col-lg-3 display:inline elements. mx-auto"> %>
    <div class= "row">
      <div class="col-12 col-md-4">
        <div class ="card-category m-3" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'architecture.jpg' %>');">
          Share your art
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class ="card-category m-3" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'seascape.jpg' %>">
          Find beautiful art to rent
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class ="card-category m-3" style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path 'landscape.jpg' %>">
          Artify your life
        </div>
      </div>
  </div>
 </div>
</div>
